<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trip.enjoy_trip.repository.CrewRepository">

    <!-- Crew 생성 -->
    <insert id="createCrew" parameterType="com.trip.enjoy_trip.dto.CrewDto" useGeneratedKeys="true" keyProperty="crewId">
        INSERT INTO crew (name, introduction, profile_url)
        VALUES (#{name}, #{introduction}, #{profileUrl});
    </insert>

    <!-- Crew_User 추가 -->
    <insert id="addUserToCrew" parameterType="com.trip.enjoy_trip.dto.CrewUserDto">
        INSERT INTO crew_user (joined_at, crew_id, user_id)
        VALUES (NOW(), #{crewId}, #{userId});
    </insert>

    <!-- Crew 조회 -->
    <select id="findCrewById" parameterType="int" resultType="com.trip.enjoy_trip.dto.CrewDto">
        SELECT crew_id AS crewId, name, introduction, profile_url AS profileUrl, created_at AS createdAt, updated_at AS updatedAt
        FROM crew
        WHERE crew_id = #{crewId};
    </select>

    <!-- Crew에 포함된 사용자 ID 조회 -->
    <select id="findUserIdsByCrewId" parameterType="int" resultType="int">
        SELECT user_id FROM crew_user WHERE crew_id = #{crewId};
    </select>

    <!-- 크루와 관련된 사용자 삭제 -->
    <delete id="deleteCrewUsersByCrewId" parameterType="int">
        DELETE FROM crew_user WHERE crew_id = #{crewId};
    </delete>

    <!-- 크루 삭제 -->
    <delete id="deleteCrewById" parameterType="int">
        DELETE FROM crew WHERE crew_id = #{crewId};
    </delete>

</mapper>
