<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trip.enjoy_trip.repository.ReviewRepository">

    <!-- 리뷰 추가 -->
    <insert id="insertReview" useGeneratedKeys="true" keyProperty="reviewId">
        INSERT INTO review (content, point, visibility, user_id, attraction_id, gugun_id, gugun_sido_id)
        VALUES (#{content}, #{point}, #{visibility}, #{userId}, #{attractionId}, #{gugunId}, #{gugunSidoId})
    </insert>


    <!-- 리뷰 이미지 추가 -->
    <insert id="insertReviewImages">
        INSERT INTO review_image (review_id, image_url, order_index)
        VALUES
        <foreach collection="imageUrls" item="imageUrl" index="index" separator=",">
            (#{reviewId}, #{imageUrl}, #{index})
        </foreach>
    </insert>


</mapper>
